<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">General</div>
      <table class="table">
        <thead>
          <th>
            Name
          </th>
          <th>
            Base
          </th>
          <th>
            Comp
          </th>
        </thead>
        <tbody>
          <tr>
            <td><img src="/assets/imgs/chr/cons.png"> HHP</td>
            <td>{{mafenSession.attrs.hhp.base}}</td>
            <td>{{mafenSession.attrs.hhp.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/cons.png"> HP</td>
            <td>{{mafenSession.attrs.hp.base}}</td>
            <td>{{mafenSession.attrs.hp.comp}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Base Attributes</div>
      <table class="table">
        <thead>
          <th>
            Name
          </th>
          <th>
            Base
          </th>
          <th>
            Comp
          </th>
        </thead>
        <tbody>
          <tr>
            <td><img src="/assets/imgs/chr/str.png"> Strength</td>
            <td>{{mafenSession.attrs.str.base}}</td>
            <td>{{mafenSession.attrs.str.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/agi.png"> Agility</td>
            <td>{{mafenSession.attrs.agi.base}}</td>
            <td>{{mafenSession.attrs.agi.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/int.png"> Intelligence</td>
            <td>{{mafenSession.attrs.int.base}}</td>
            <td>{{mafenSession.attrs.int.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/cons.png"> Constitution</td>
            <td>{{mafenSession.attrs.con.base}}</td>
            <td>{{mafenSession.attrs.con.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/prc.png"> Perception</td>
            <td>{{mafenSession.attrs.prc.base}}</td>
            <td>{{mafenSession.attrs.prc.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/csm.png"> Charisma</td>
            <td>{{mafenSession.attrs.csm.base}}</td>
            <td>{{mafenSession.attrs.csm.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/dex.png"> Dexterity</td>
            <td>{{mafenSession.attrs.dex.base}}</td>
            <td>{{mafenSession.attrs.dex.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/wil.png"> Will</td>
            <td>{{mafenSession.attrs.wil.base}}</td>
            <td>{{mafenSession.attrs.wil.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/psy.png"> Psyche</td>
            <td>{{mafenSession.attrs.psy.base}}</td>
            <td>{{mafenSession.attrs.psy.comp}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Abilities</div>
      <table class="table">
        <thead>
          <th>
            Name
          </th>
          <th>
            Base
          </th>
          <th>
            Comp
          </th>
        </thead>
        <tbody>
          <tr>
            <td><img src="/assets/imgs/chr/unarmed.png"> Unarmed Combat</td>
            <td>{{mafenSession.attrs.unarmed.base}}</td>
            <td>{{mafenSession.attrs.unarmed.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/melee.png"> Melee Combat</td>
            <td>{{mafenSession.attrs.melee.base}}</td>
            <td>{{mafenSession.attrs.melee.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/ranged.png"> Marksmanship</td>
            <td>{{mafenSession.attrs.ranged.base}}</td>
            <td>{{mafenSession.attrs.ranged.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/explore.png"> Exploration</td>
            <td>{{mafenSession.attrs.explore.base}}</td>
            <td>{{mafenSession.attrs.explore.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/stealth.png"> Stealth</td>
            <td>{{mafenSession.attrs.stealth.base}}</td>
            <td>{{mafenSession.attrs.stealth.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/sewing.png"> Sewing</td>
            <td>{{mafenSession.attrs.sewing.base}}</td>
            <td>{{mafenSession.attrs.sewing.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/smithing.png"> Smithing</td>
            <td>{{mafenSession.attrs.smithing.base}}</td>
            <td>{{mafenSession.attrs.smithing.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/masonry.png"> Masonry</td>
            <td>{{mafenSession.attrs.masonry.base}}</td>
            <td>{{mafenSession.attrs.masonry.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/carpentry.png"> Carpentry</td>
            <td>{{mafenSession.attrs.carpentry.base}}</td>
            <td>{{mafenSession.attrs.carpentry.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/cooking.png"> Cooking</td>
            <td>{{mafenSession.attrs.cooking.base}}</td>
            <td>{{mafenSession.attrs.cooking.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/farming.png"> Farming</td>
            <td>{{mafenSession.attrs.farming.base}}</td>
            <td>{{mafenSession.attrs.farming.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/survive.png"> Survival</td>
            <td>{{mafenSession.attrs.survive.base}}</td>
            <td>{{mafenSession.attrs.survive.comp}}</td>
          </tr>
          <tr>
            <td><img src="/assets/imgs/chr/lore.png"> Lore</td>
            <td>{{mafenSession.attrs.lore.base}}</td>
            <td>{{mafenSession.attrs.lore.comp}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Hidden Attributes</div>
      <table class="table">
        <thead>
          <th>
            Name
          </th>
          <th>
            Base
          </th>
          <th>
            Comp
          </th>
        </thead>
        <tbody>
          <tr>
            <td>Expmod</td>
            <td>{{mafenSession.attrs.expmod.base}}</td>
            <td>{{mafenSession.attrs.expmod.comp}}</td>
          </tr>
          <tr>
            <td>Magics</td>
            <td>{{mafenSession.attrs.magics.base}}</td>
            <td>{{mafenSession.attrs.magics.comp}}</td>
          </tr>
          <tr>
            <td>Spdmod</td>
            <td>{{mafenSession.attrs.spdmod.base}}</td>
            <td>{{mafenSession.attrs.spdmod.comp}}</td>
          </tr>
          <tr>
            <td>Frate</td>
            <td>{{mafenSession.attrs.frate.base}}</td>
            <td>{{mafenSession.attrs.frate.comp}}</td>
          </tr>
          <tr>
            <td>Regen</td>
            <td>{{mafenSession.attrs.regen.base}}</td>
            <td>{{mafenSession.attrs.regen.comp}}</td>
          </tr>
          <tr>
            <td>Swim</td>
            <td>{{mafenSession.attrs.swim.base}}</td>
            <td>{{mafenSession.attrs.swim.comp}}</td>
          </tr>
          <tr>
            <td>Fepmod</td>
            <td>{{mafenSession.attrs.fepmod.base}}</td>
            <td>{{mafenSession.attrs.fepmod.comp}}</td>
          </tr>
          <tr>
            <td>Exfer</td>
            <td>{{mafenSession.attrs.exfer.base}}</td>
            <td>{{mafenSession.attrs.exfer.comp}}</td>
          </tr>
          <tr>
            <td>Fgtact</td>
            <td>{{mafenSession.attrs.fgtact.base}}</td>
            <td>{{mafenSession.attrs.fgtact.comp}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
