<div class="row">
  <div class="col-sm-6">
    <uib-tabset active="mafenSession.activeChatId">
      <uib-tab ng-repeat="chat in mafenSession.chats" select="onChatSelect(chat.id)" index="chat.id">
        <uib-tab-heading>
          <span ng-if="chat.unread" class="glyphicon glyphicon-bell"></span>
          {{chat.name}}
          <div class="pull-right" ng-if="chat.closable">
            <!-- NOTE: We have to prevent default click behavior because otherwise it'll route user to the '/' due to the known uib-tab issue -->
            <button type="button" class="close" aria-label="Close" ng-click="closeChat(chat.id); $event.preventDefault();"><span aria-hidden="true">&times;</span></button>
          </div>
        </uib-tab-heading>
        <div class="chat-container" scroll-glue>
          <div class="well well-sm" ng-repeat="msg in mafenSession.msgs[chat.id]">
            <b>{{msg.from}}</b>: {{msg.text}}
          </div>
        </div>
        <form ng-submit="sendMsg(chat.id)">
          <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Type your message" ng-model="inputMsgs[chat.id]" required />
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-success">Send</button>
                  </span>
                </div>
            </div>
          </div>
        </form>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-primary" ng-show="mafenSession.pmembers.length > 1">
      <div class="panel-heading">Party members</div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="pmemberId in mafenSession.pmembers">{{mafenSession.getPlayerName(pmemberId)}}</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Players in area</div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="playerId in mafenSession.players">{{mafenSession.getPlayerName(playerId)}}</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Kins</div>
      <table class="table table-striped table-bordered" border="1" ts-wrapper>
        <thead>
          <tr>
            <th ts-criteria="online" ts-default="descending">Status</th>
            <th ts-criteria="name">Name</th>
            <th></th>
          <tr>
        </thead>
        <tbody>
          <tr ng-repeat="kin in mafenSession.kins | toArray" ts-repeat>
            <td ng-switch on="kin.online">
              <span ng-switch-when="0">
                <img src="/assets/imgs/hud/offline.png"> Offline
              </span>
              <span ng-switch-when="1">
                <img src="/assets/imgs/hud/online.png"> Online
              </span>
              <span ng-switch-default>Unknown</span>
            </td>
            <td>{{kin.name}}</td>
            <td>
              <button class="btn btn-success" ng-click="inviteKin(kin.$key)"
                  ng-if="kin.$key !== mafenSession.invitedKinId"
                  ng-disabled="kin.online !== 1 || mafenSession.pwaiting">
                Invite
              </button>
              <button class="btn btn-danger" ng-click="cancelInvitation()" ng-if="kin.$key === mafenSession.invitedKinId">
                Cancel
              </button>
              <button class="btn btn-primary" ng-click="chatKin(kin.$key)" ng-disabled="kin.online !== 1">
                Chat
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
