<nav class="nav navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#!/">
      <span>
        <img src="/assets/icons/favicon.ico">
        Mafen
      </span>
    </a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li ng-class="{ active: isCurrentPage('/study') }"><a href="#!/study">Study</a></li>
      <li ng-class="{ active: isCurrentPage('/chats') }"><a href="#!/chats">Chats</a></li>
      <li ng-class="{ active: isCurrentPage('/attrs') }"><a href="#!/attrs">Attrs</a></li>
      <li ng-class="{ active: isCurrentPage('/lores') }"><a href="#!/lores">Lores</a></li>
      <li ng-class="{ active: isCurrentPage('/wounds') }"><a href="#!/wounds">Wounds</a></li>
      <li ng-class="{ active: isCurrentPage('/equip') }"><a href="#!/equip">Equip</a></li>
      <li ng-class="{ active: isCurrentPage('/misc') }"><a href="#!/misc">Misc</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="navbar-brand" href="http://ringofbrodgar.com/wiki/Dewy_Lady%27s_Mantle" target="_blank" tooltip-placement="bottom" uib-tooltip="It's Dewy Lady's Mantle Time!" ng-if="isDewyLadysMantleTime">
          <span>
            <img src="/assets/imgs/items/dewyladysmantle.png">
          </span>
        </a>
        <p class="navbar-text">{{serverTime}}</p>
      </li>
      <li><a href="#!/" ng-click="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
