<div class="corner-ribbon top-left sticky blue change-hue-animation">
  Alpha version
</div>
<div class="center-both">
  <!--Yeah, we have to define a separate div for the cgBusy. Otherwise it'll mess up with our own styles-->
  <div cg-busy="loginPromise">
    <form class="form-signin" ng-submit="login()">
      <h2>Please sign in</h2>
      <input type="text" class="form-control" placeholder="Username" ng-model="user.username" required />
      <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required />
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Sign in</button>
      <small>Don't trust me? <a href="https://github.com/b0r3d0m/mafen">Try it yourself!</a></small><br/>
    </form>
  </div>
</div>
