<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Lores</div>
      <table class="table table-striped table-bordered" border="1" ts-wrapper>
        <thead>
          <tr>
            <th>Image</th>
            <th ts-criteria="tooltip">Tooltip</th>
            <th ts-criteria="score">Score</th>
            <th ts-criteria="mtime">Time</th>
          <tr>
        </thead>
        <tbody>
          <tr ng-repeat="lore in mafenSession.lores | toArray" ts-repeat>
            <td><img ng-src="{{lore.image}}"></td>
            <td>{{lore.tooltip}}</td>
            <td>{{lore.score}}</td>
            <td>{{mafenSession.humanSecs(lore.mtime)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
