<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Wounds</div>
      <table class="table table-striped table-bordered" border="1" ts-wrapper>
        <thead>
          <tr>
            <th>Image</th>
            <th ts-criteria="tooltip">Tooltip</th>
            <th ts-criteria="hhp">HHP</th>
            <th></th>
          <tr>
        </thead>
        <tbody>
          <tr ng-repeat="wound in mafenSession.wounds | toArray" ts-repeat>
            <td><img ng-src="{{wound.image}}"></td>
            <td>{{wound.tooltip}}</td>
            <td>{{wound.hhp}}</td>
            <td><button class="btn btn-default" uib-popover="{{wound.desc}}" popover-placement="auto top">Show description</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
