/* Sticky footer styles from Bootstrap example */
/* https://getbootstrap.com/examples/sticky-footer/sticky-footer.css */

html {
  position: relative;
  min-height: 100%;
}

.footer {
  margin-bottom: 10px;
  width: 95%; /* TODO: Think about more elegant way to do it */
}
