doctype html
html(ng-app="app")
  head
    script(src="/bundle.js")
    title Mafen
  body
    .container-fluid
      ng-include(src="'/views/header.html'", ng-if="!isCurrentPage('/login')")
      ng-view
      ng-include(src="'/views/footer.html'", ng-if="!isCurrentPage('/login')")
