doctype html
html(ng-app="app")
  head
    script(src="/bundle.js")
    title Mafen
  body
    .corner-ribbon.top-left.sticky.blue.change-hue-animation Alpha version
    .container-fluid
      ng-view
      footer.footer.text-center
        .container
          hr
          p.text-muted Made with &#x2764; by #[a(href="https://github.com/b0r3d0m") b0r3d0m]
